@font-face {
  font-family: "FGD";
  src: url(../../f/fonts/Franklin_Gothic_Demi.ttf);
}
* {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1280px;
  font: 15px"Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  position: relative;
  color: #000;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 20px #aaa;
  -moz-box-shadow: 0px 0px 20px #aaa;
  box-shadow: 0px 0px 20px #aaa;
}
ul, ol {
  margin: 0;
}
p {
  margin: 0;
}
img {
  max-width: none;
}
.b-header {
  min-height: 140px;
}
.b-header__content {
  padding: 20px 50px;
}
[class^='iconize-'], [class*=' iconize-'] {
  position: relative;
  display: inline-block;
}
[class^='iconize-']:before, [class*=' iconize-']:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url('/f/img/icons.png') -9999px -9999px no-repeat;
}
.b-logo {
  margin-right: 5%;
  font: 44px "FGD";
  color: #0e0e0e;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.b-logo a,
.b-logo a:hover {
  color: #0e0e0e;
}
@media (max-width: 1100px) {
  .b-logo {
    margin-right: 2%;
  }
}
.b-logo__char {
  margin-left: 3px;
  color: #008ac9;
}
.b-logo__text {
  font: 14px/25px "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  letter-spacing: normal;
  margin-top: -7px;
  margin-left: 2px;
  display: block;
}
.b-main-menu {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0;
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
  column-gap: 30px;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
}
@media (max-width: 1100px) {
  .b-main-menu {
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
  }
}
.b-main-menu__item {
  position: relative;
}
.b-main-menu__item a {
  color: #000;
  font-weight: 500;
}
.b-main-menu__item a:before {
  background: #d4d4d4;
}
.b-main-menu__item a:hover {
  color: #ed0080;
}
.iconize-realty {
  margin-left: 25px;
}
.iconize-realty:before {
  width: 20px;
  height: 12px;
  background-position: 0 0;
  left: -25px;
  top: -9px;
}
.iconize-boat {
  margin-left: 25px;
}
.iconize-boat:before {
  width: 20px;
  height: 12px;
  background-position: -20px 0;
  left: -25px;
  top: -9px;
}
.iconize-lease {
  margin-left: 25px;
}
.iconize-lease:before {
  width: 20px;
  height: 12px;
  background-position: -40px 0;
  left: -25px;
  top: -9px;
}
.b-contacts {
  width: 310px;
}
@media (max-width: 1280px) {
  .b-contacts_header {
    width: 32%;
  }
}
.b-contacts_header, .b-contacts_footer {
  float: right;
}
.b-contacts_footer {
  margin-top: 10px;
}
.b-contacts__item {
  clear: both;
}
.b-contacts__city {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  font-size: 14px;
  float: left;
  color: #5c5f60;
  line-height: 40px;
  position: relative;
}
.iconize-moscow {
  margin-left: 25px
}
.iconize-moscow:before {
  width: 20px;
  height: 15px;
  background-position: 0 -12px;
  left: -25px;
  top: -15px;
}
.iconize-alicante {
  margin-left: 25px
}
.iconize-alicante:before {
  width: 20px;
  height: 15px;
  background-position: -20px -12px;
  left: -25px;
  top: -15px;
}
.b-contacts__phone {
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  float: right;
  position: relative;
}
.b-contacts__phone-small {
  font-size: 15px;
  font-weight: 400;
  margin-right: 5px;
}
.iconize-skype {
  margin-right: 15px;
}
.iconize-skype:before {
  right: -15px;
  left: auto;
  top: -18px;
  width: 18px;
  height: 18px;
  background-position: 0 -27px;
}
.b-contacts__callback {
  clear: both;
  float: right;
}
.b-contacts__callback a {
  font-weight: 500;
}
.b-main-title {
  font-size: 30px;
  font-weight: bold;
  color: #0e0e0e;
  margin: 0;
  padding: 0 50px 30px;
  line-height: 30px;
  display: block;
  border-bottom: 5px solid #008ac9;
  position: relative;
}
.b-main-title:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 65px;
  border: 14px solid transparent;
  border-bottom-color: #008ac9;
  border-top: 0;
  display: block;
}
.b-main-title:after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 72px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  display: block;
}
.b-main-title_arrow_grey:after {
  border-bottom-color: #f1f1f1;
}
#popup-credit, #fancy_outer, #fancy_outerc {
  display: none;
}
.body__op2 {
  opacity: 0.2;
}
.body__opacity_1 {
  opacity: 1;
}
.b-forma {
  position: fixed;
  width: 100%;
  margin: 0px auto;
  width: 340px;
  height: 500px;
  background: #f1f1f1;
  z-index: 7000;
  top: 20%;
  padding: 0 35px;
  left: 40%;
  text-align: center;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(50, 50, 46, 0.2);
  -moz-box-shadow: 7px 7px 0px 0px rgba(50, 50, 46, 0.2);
  box-shadow: 7px 7px 0px 0px rgba(50, 50, 46, 0.2);
}
.b-forma_close {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #008ac9;
  background: url(../../f/img/142.png) no-repeat;
}
.b-forma__head {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  color: #0e0e0e;
  width: 340px;
  text-align: center;
  margin-top: 30px;
  position: relative;
}
.b-forma__title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #000;
}
.b-forma__input {
  color: #000;
  padding-left: 10px;
  width: 100%;
  height: 30px !important;
  background: #fff;
  line-height: 18px;
  font-size: 14px;
  border: none !important;
  border-radius: 0 !important;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-forma__input:focus {
  width: 100%;
  border: 1px solid #008ac9;
  outline-offset: 0px;
  outline: 0px;
  color: #000;
}
.b-forma__comments {
  height: 110px !important;
  resize: none;
}
.b-forma__comments:focus {
  height: 110px;
}
.b-forma__submit {
  margin-top: 10px;
}
.b-slider {
  position: relative;
  border-top: solid 5px #008ac9;
}
.b-slider__text {
  bottom: 85px;
  color: #ffcc00;
  font-size: 80px;
  font-weight: bold;
  left: 50px;
  line-height: 80px;
  position: absolute;
  width: 300px;
  z-index: 10;
}
.b-slider__text p {
  font-size: 40px;
  line-height: 40px;
}
#slides {
  border-bottom: solid 5px #ffcc00;
  width: 100%;
  height: 440px;
  display: none;
  overflow: hidden;
}
#slides img {
  /*width: 100%;*/
  /*overflow: hidden;*/
}
a.slidesjs-next, a.slidesjs-previous, a.slidesjs-play, a.slidesjs-stop {
  display: none;
}
.slidesjs-pagination {
  position: absolute;
  z-index: 100;
  margin-top: 24px;
  margin-left: 46px;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0px 5px 0px 5px;
}
.slidesjs-pagination li a {
  display: block;
  width: 10px;
  height: 0;
  padding-top: 10px;
  background-image: url(../../f/img/pagination2.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
  background-position: 0 -11px;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -22px;
}
#slides a:link, #slides a:visited {
  color: #333;
}
#slides a:hover, #slides a:active {
  color: #9e2020;
}
.navbar {} .b-slider__border_bottom {
  position: absolute;
  background: url(/f/img/7.png) no-repeat;
  margin-top: -15px;
  left: 60px;
  width: 40px;
  height: 15px;
  z-index: 1000;
}
.b-slider__info {
  overflow: hidden;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  background: #f1f1f1;
}
.b-info__city {
  width: 120px;
  margin-left: 170px;
  color: #000;
  line-height: 45px;
  display: inline-block;
  vertical-align: top;
}
.b-info__see {
  line-height: 44px;
  display: inline-block;
  vertical-align: top;
  padding-left: 6px;
}
.iconize-marker {
  margin-left: 15px;
}
.iconize-marker:before {
  width: 9px;
  height: 14px;
  background-position: -66px -67px;
  left: -15px;
  top: -12px;
}
.b-iconized-link:hover .iconize-marker:before{
  background-position: -75px -67px;
}
.iconize-big-marker {
  margin-left: 20px;
}
.iconize-big-marker:before {
  width: 15px;
  height: 24px;
  top: -22px;
  left: -20px;
  background-position: 0 -134px;
}
.b-iconized-link:hover .iconize-big-marker:before{
  background-position: -15px -134px;
}

.b-iconized-link:hover .b-link{
  color: #ed0080;
}
.b-link,
.b-link:focus {
  color: #008ac9;
  position: relative;
  /* border-bottom: 1px solid; */
  font-size: 15px;
  text-decoration: none;
  line-height: 40px;
}
.b-link:before {
  display: block;
  background: #a8d2e5;
  width: 100%;
  height: 1px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
}
.b-link:hover {
  color: #ed0080;
  text-decoration: none;
}
.b-link:hover:before {
  background: #ed0080;
}
.b-iconized-link:hover .b-link:before {
  background: #ed0080;
}
.b-link_big {
  font-size: 30px;
  margin-top: 5px;
}
.b-link_big:before {
  background: #008ac9;
  bottom: 2px;
}
.b-filter {
  position: absolute;
  top: 0px;
  right: 50px;
  z-index: 100;
  width: 270px;
  background: #008ac9;
  min-height: 470px;
  border-bottom: url(/f/img/9.png) no-repeat;
}
.b-filter_full {
  min-height: 600px;
}
.b-realty .b-coast__img {
  height: 220px;
}
.b-realty {
  position: relative;
  min-height: 500px;
}
.b-control {
  height: 50px;
  background: #f1f1f1;
  padding: 0 50px;
}
.b-view {
  display: inline-block;
  vertical-align: top;
}
.b-sort {
  display: inline-block;
  vertical-align: top;
}
.b-sort__select {
  width: 290px !important;
}
.b-select-input, .b-select-input:hover, .b-select-input:active {
  background: #fff !important;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.b-select-input .caret {
  width: 30px;
  height: 100%;
  background: #f1f1f1;
  border: none;
  right: 0 !important;
  margin-top: 0 !important;
  top: 0 !important;
}
.b-select-input .caret:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  border-width: 6px 4px 0;
  border-bottom: 0;
  display: block;
  margin: auto;
  width: 0;
  height: 0;
}
.b-select-input:hover .caret:before {
  border-top-color: #008ac9;
}
.b-select-input .dropdown-menu {
  background: #f1f1f1;
  border: none;
  border-radius: 0;
  padding: 0;
}
.b-select-input .dropdown-menu > li {
  text-align: left;
  position: relative;
}
.b-select-input .selected > a {
  color: #000 !important;
}
.b-select-input .dropdown-menu > li > a:hover, .b-select-input .dropdown-menu > li > a:focus, .b-select-input .dropdown-submenu:hover > a, .b-select-input .dropdown-submenu:focus > a {
  background-image: none !important;
  background: #008ac9;
}
.b-view__text {
  font-size: 16px;
  line-height: 47px;
  font-weight: bold;
  margin-right: 15px;
}
.b-sort__text {
  font-size: 16px;
  line-height: 47px;
  font-weight: bold;
  margin-right: 25px;
}
@media (max-width: 1279px) {
  .b-sort__text {
    margin-right: 10px;
  }
}
.b-view__control {
  padding: 14px 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.b-view__btn {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.iconize-tiles:before {
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  background-position: 0 -68px;
}
.iconize-tiles:hover:before {
  background-position: 0 -112px;
}
.iconize-tiles_active:hover:before {
  background-position: 0 -90px;
}
.iconize-tiles_active:before {
  background-position: 0 -90px;
}
.iconize-list:before {
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  background-position: -22px -68px;
}
.iconize-list:hover:before {
  background-position: -22px -112px;
}
.iconize-list_active:hover:before {
  background-position: -22px -90px;
}
.iconize-list_active:before {
  background-position: -22px -90px;
}
.iconize-map:before {
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  background-position: -44px -68px;
}
.iconize-map:hover:before {
  background-position: -44px -112px;
}
.iconize-map_active:hover:before {
  background-position: -44px -90px;
}
.iconize-map_active:before {
  background-position: -44px -90px;
}
.b-realty__content {
  padding: 20px 350px 30px 50px;
  min-height: 700px;
}
.b-realty__content_full {
  padding: 30px 50px 0 50px;
  border-bottom: 5px solid #f1f1f1;
}
.b-realty__found {
  font-size: 14px;
  line-height: 30px;
  color: #5c5f60;
  margin-bottom: 10px;
}
#wrapper {
  position: relative;
}
#wrapper .div_none {
  display: none;
}
#wrapper.tab1 div.tab1 {
  display: block;
}
#wrapper.tab2 div.tab2 {
  display: block;
  text-align: center;
}
#wrapper .wrapper_a {
  background: #000;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: bold;
  line-height: 46px;
  text-align: center;
  width: 135px;
  height: 50px;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
#wrapper #win_a:active {
  color: #fff;
}
#wrapper #win_a {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
#wrapper.tab1 #win_a.tab1 .wrapper_a {
  background: #008ac9;
  color: #fff;
  cursor: default;
  text-decoration: none;
}
#wrapper.tab2 #win_a.tab2 .wrapper_a {
  background: #008ac9;
  color: #fff;
  cursor: default;
  text-decoration: none;
}
.b-coast__img {
  height: 244px;
  background: url(../../f/img/10.png) no-repeat;
}
.yellow-btn {
  background: #ffcc00;
  font: 16px/40px"Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  position: relative;
  padding: 0 18px;
  color: #000;
  display: inline-block;
}
.yellow-btn:hover {
  background: #ff7e00;
  color: #000;
}
.iconize-search {
  margin-left: 20px;
}
.iconize-search:before {
  width: 21px;
  height: 20px;
  left: -27px;
  top: -15px;
  background-position: 0 -48px;
}
.b-coast__button {
  margin: 28px 0 25px;
  text-align: center;
}
.b-coast__border_bottom {
  height: 7px;
  background: url(../../f/img/140.png) repeat-x;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
}
.b-services {
  border-bottom: 5px solid #f1f1f1;
  padding: 40px 35px;
}
.b-enum {} .b-enum__item, .b-enum_inline_4 .b-enum__item {
  width: 25%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.b-enum_inline_5 .b-enum__item {
  width: 20%;
}
.b-enum__title {
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.b-enum__text {
  color: #5c5f60;
  font-size: 14px;
  line-height: 25px;
}
.b-spain {
  padding: 25px 50px;
}
.b-spain__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.iconize-spain {
  margin-left: 25px;
}
.iconize-spain:before {
  width: 27px;
  height: 31px;
  left: -35px;
  top: -25px;
  background-position: -20px -27px;
}
.b-spain__text {
  font-size: 16px;
  line-height: 30px;
  color: #5c5f60;
  font-weight: lighter;
  margin-bottom: 35px;
}
/* offer */

.b_offer {
  border-bottom: 5px solid #f1f1f1;
  overflow: hidden;
  padding: 0 50px;
  text-align: center;
}
.b_offer_h2 {
  margin: 40px 0;
  padding-left: 9px;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 30px;
  color: #0e0e0e;
  line-height: 25px;
}
.container1 {
  margin-left: -20px;
}
#offer {
  list-style: none;
  display: none
}
#offer {
  display: none
}
#offer .slidesjs-navigation {
  margin-top: 3px;
}
#offer .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#offer .slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs-pagination2 {
  margin: 0 auto 40px auto;
  list-style: none;
  padding-left: 20px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
}
.slidesjs-pagination2 li {
  float: left;
  margin: 0 5px;
}
.slidesjs-pagination2 li a {
  display: block;
  width: 10px;
  height: 0;
  padding-top: 10px;
  background-image: url(../../f/img/pagination2.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination2 li a.active, .slidesjs-pagination2 li a:hover.active {
  background-position: 0 -11px
}
.slidesjs-pagination2 li a:hover {
  background-position: 0 -22px
}
.slidesjs-container2 {
  text-align: left;
}
#offer a:link, #offer a:visited {
  color: #333
}
/* #offer a:hover, #offer a:active {
  color: #9e2020
} */

.navbar {
  overflow: hidden
}
/* TAB */

.b-goods {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 280px;
  position: relative;
  background: #f1f1f1;
}
.b-goods_map {
  margin: 0;
}
.b-goods_map:before {
  border: 14px solid transparent;
  border-top: 22px solid #008ac9;
  position: absolute;
  content: '';
  bottom: -22px;
  width: 0;
  height: 0;
  left: 11px;
  right: 0;
  margin: 0 auto;
  border-bottom: none;
}
.b-goods_map .b-goods__border {
  background: url(/f/img/148.png) repeat-x scroll 4px 0 rgba(0, 0, 0, 0);
  bottom: -9px;
  box-sizing: border-box;
  height: 9px;
}
.b-goods_map:hover:before {
  border-top-color: #ffcc00;
}
.b-goods__picture {
  position: relative;
  border-top: 3px solid #008ac9;
  border-bottom: 3px solid #008ac9;
}
.b-picture__fon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #008ac9;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 5;
}
.b-subblocks__tick {
  top: 159px;
  left: 21px;
  width: 16px;
  height: 9px;
  position: absolute;
  z-index: 100;
  background: url(/f/img/123.png) no-repeat;
}
.b-picture__img {
  width: 280px;
  height: 165px;
  display: block;
}
.b-picture__subblocks {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.b-tags {
  position: absolute;
  top: 10px;
  left: 10px;
}
.b-tag {
  display: inline-block;
  line-height: 20px;
  padding: 0px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #fff;
}
.b-tag_apartments {
  background: #008ac9;
}
.b-tag_latest {
  background: #ed0080;
}
.b-tag_hot {
  background: #ff5a00;
}
.b-picture__more {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  width: 100%;
  text-align: center
}
.b-goods__description {
  font-size: 14px;
  padding: 15px 20px;
}
.b-goods__header {
  position: relative;
  font: 16px/25px "PT Sans", sans-serif;
  font-weight: 700;
  color: #008ac9;
  text-decoration: underline;
  margin: 0;
  padding-right: 20px;
}
.b-header__fav {
  position: absolute;
  width: 16px;
  height: 15px;
  right: 0;
  top: 4px;
  background: url(/f/img/128.png) no-repeat;
}
.b-header__fav_active {
  position: absolute;
  width: 16px;
  height: 15px;
  right: 0;
  top: 4px;
  background: url(/f/img/127.png) no-repeat;
}
.b-goods__city {
  line-height: 25px;
  color: #000;
  font-weight: bold;
}
.b-goods__city_img {
  padding-left: 9px;
  background: url(/f/img/124.png) no-repeat;
  line-height: 25px;
  width: 9px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.b-goods__subtext span {
  color: #000;
  font-weight: 700;
  margin-left: 2px;
}
.b-goods__subtext span b {
  vertical-align: super;
  color: #000;
}
.b-goods__subtext {
  line-height: 25px;
  color: #5c5f60;
}
.b-goods__price {
  font-size: 20px;
  margin-top: 14px;
  font-weight: 600;
  color: #000;
}
.b-goods__border {
  background: url("/f/img/125.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  bottom: -9px;
  box-sizing: border-box;
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
}
.b-goods:hover {
  background: #fff;
  cursor: pointer;
}
.b-goods:hover .b-picture__more {
  display: block;
  z-index: 5000;
}
.b-goods:hover .b-goods__picture {
  position: relative;
  border-top: 3px solid #ffcc00;
  border-bottom: 3px solid #ffcc00;
}
.b-goods:hover .b-subblocks__tick {
  background: url(../../f/img/129.png) no-repeat;
}
.b-goods:hover .b-picture__fon {
  opacity: .7;
  filter: alpha(opacity=70);
}
.b-goods:hover .b-goods__description {
  padding-left: 17px;
  border-left: 3px solid #ffcc00;
  border-right: 3px solid #ffcc00;
}
.b-goods:hover .b-header__fav,
.b-goods:hover .b-header__fav_active {
  right: -3px;
}
.b-goods:hover .b-goods__border {
  border-left: 3px solid #ffcc00;
  border-right: 3px solid #ffcc00;
  height: 9px;
  background: url(../../f/img/132.png) repeat-x;
}
/* END TAB */

/* END offer */

.b-paginator {
  overflow: hidden;
  height: 30px;
  text-align: justify;
  padding-right: 20px;
  margin-left: -10px;
  margin-bottom: 10px;
  position: absolute;
  padding-right: 350px;
  bottom: 20px;
}
.b-paginator__btn {
  padding: 0 10px;
  display: inline-block;
  height: 30px;
  background: #f1f1f1;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
}
.b-paginator__btn:hover, .b-paginator__btn_active {
  background: #008ac9;
  color: #fff;
  text-decoration: none;
}
.b-paginator__btn_active {
  cursor: default;
}
.b_table_bottom {
  /*margin-left: 50px;*/
  width: 100%;
}
.bottom_top_p {
  width: 93%;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 30px;
  color: #5c5f60;
}
.b_table_bottom_bottom {
  height: 280px;
  margin: 40px auto 0 auto;
}
.table_info {
  float: left;
  width: 220px;
  margin: 33px 20px 0px 0px;
}
.table_info_left {
  float: left;
  width: 220px;
  margin-top: 33px;
}
.table_info_img1 {
  margin: 0px 0px 2px 39px;
  width: 150px;
  height: 138px;
  background: url(../../f/img/img-10.jpg) no-repeat;
}
.table_info_h2_1 {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.table_info_img2 {
  margin: 0px 0px 2px 49px;
  width: 130px;
  height: 138px;
  background: url(../../f/img/img-11.jpg) no-repeat;
}
.table_info_h2_2 {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  width: 210px;
}
.table_info_img3 {
  margin: 0px 0px 2px 38px;
  width: 140px;
  height: 138px;
  background: url(../../f/img/img-12.jpg) no-repeat;
}
.table_info_h2_3 {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  width: 180px;
}
.table_info_img4 {
  margin: 0px 0px 2px 23px;
  width: 140px;
  height: 138px;
  background: url(../../f/img/img-13.jpg) no-repeat;
}
.table_info_h2_4 {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.table_info_img5 {
  margin: 0px 0px 2px 59px;
  width: 100px;
  height: 138px;
  background: url(../../f/img/img-14.jpg) no-repeat;
}
.table_info_h2_5 {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.b-footer {
  background: #f1f1f1;
  padding: 25px 47px;
}
.b-footer__table {
  display: table;
  width: 100%;
}
.b-footer__row {
  display: table-row;
}
.b-footer__cell {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.b-footer__title {
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  text-decoration: underline;
}
.b-footer-menu {
  list-style: none;
}
.b-footer-menu__item {} .b-footer-menu__item a {
  font-size: 12px;
  line-height: 25px;
}
.b-filter__select {
  width: 200px;
  margin-bottom: 20px;
}
.b-filter__control {
  padding: 0 25px;
}
.b-filter__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  display: block;
  color: #000;
}
.b-filter__select_2 {
  margin-bottom: 5px;
}
.b-input-text {
  border-radius: 0 !important;
  border: none !important;
}
.b-slider-range {
  margin-bottom: 5px;
}
.b-slider-range__input {
  display: inline-block;
  vertical-align: top;
  width: 75px;
  margin-bottom: 15px !important;
}
.b-slider-range__sep {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 2px;
  background: #000;
  margin: 0 5px 14px;
}
.b-slider-range__euro-wrap {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}
.b-slider-range__euro {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 0;
}
.glyphicon-ok:before {
  content: url("data:image/gif;base64,R0lGODlhCgAKAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAAKAAoAAAISlG8AeMq5nnsiSlsjzmpzmj0FADs=");
}
.b-filter__select_3 {
  margin-bottom: 15px;
}
.b-radio-input {
  display: none;
}
.b-radio {
  position: relative;
  margin-left: 20px;
  color: #fff;
}
.b-radio:before {
  content: '';
  position: absolute;
  width: 15px !important;
  height: 15px !important;
  background: #fff !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  left: -20px;
  top: 3px;
}
.b-radio-input:checked + .b-radio:after {
  background: url(/f/img/icons.png);
  background-position: -24px -59px;
  width: 10px;
  height: 8px;
  left: -17px;
  position: absolute;
  content: '';
  top: 7px;
}
.b-type__lot, .b-type__lot:focus {
  width: 210px;
  margin-bottom: 0 !important;
}
.b-realty__goods {
  margin-left: -20px;
  margin-bottom: 30px;
}
.b-realty__goods_list {
  margin-left: 0;
  margin-bottom: 60px;
}
.b-goods__table {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}
.b-goods__row {
  display: table-row;
}
.b-realty__goods_list .b-goods__head {
  height: 50px !important;
}
.b-realty__goods_list .b-goods__head:hover .b-goods__cell {
  border-top: none !important;
  border-bottom: none !important;
  cursor: default;
  background: #f1f1f1;
  border-left-color: #fff !important;
}
.b-realty__goods_list .b-goods {
  width: 100%;
  height: 150px;
  margin-left: 0;
}
.b-realty__goods_list .b-goods__border {
  background: url(/f/img/146.png) repeat-y;
  width: 6px;
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
  bottom: auto;
}
.b-realty__goods_list .b-goods:hover .b-goods__border {
  border: none;
  height: 100%;
  width: 9px;
  background: url(/f/img/147.png) repeat-y;
}
.b-realty__goods_list .b-goods:hover .b-header__fav{
  right: 0;
}
.b-picture__img-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
}
.b-realty__goods_list .b-picture__img {
  height: 100% !important;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.b-realty__goods_list .b-goods__picture {
  border: none;
  border-left: 3px solid #008ac9 !important;
  border-right: 3px solid #008ac9 !important;
  width: 200px !important;
  max-width: 200px;
  padding: 0 !important;
  vertical-align: top !important;
}
.b-realty__goods_list .b-goods__cell {
  display: table-cell;
  vertical-align: top;
  border: 0;
  height: auto;
  vertical-align: middle;
  text-align: center;
  border-left: 3px solid #fff;
  padding: 0 10px;
  height: 100%;
}
.b-realty__goods_list .b-goods__description {
  position: relative;
  border-left: 0 !important;
  vertical-align: top;
  text-align: left;
  padding: 20px 20px 10px !important;
  max-width: 0;
}
.b-realty__goods_list .b-goods:hover .b-goods__description {
  border-right: 0 !important;
  padding-top: 17px !important;
}
.b-realty__goods_list .b-tags {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  width: 100%;
}
.b-realty__goods_list .b-header__fav, .b-realty__goods_list .b-header__fav_active {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 3px;
  right: 0 !important;
  left: auto;
  float: right;
}
@media (max-width: 1279px) {
  .b-realty__goods_list .b-header__fav, .b-realty__goods_list .b-header__fav_active {
    float: none;
  }
}
.b-realty__goods_list .b-goods__name {
  border-left: 0;
}
.b-realty__goods_list .b-goods__price {
  width: 18%;
}
.b-realty__goods_list .b-goods__area {
  width: 10%;
  min-width: 55px;
  font-weight: bold;
  font-size: 14px;
}
.b-realty__goods_list .b-goods__rooms {
  width: 8%;
  min-width: 45px;
  font-weight: 600;
}
.b-realty__goods_list .b-goods:hover .b-goods__cell {
  border-left-color: #f1f1f1;
  border-top: 3px solid #ffcc00;
  border-bottom: 3px solid #ffcc00;
}
.b-realty__goods_list .b-goods:hover .b-goods__picture {
  border: none;
  border-left: 3px solid #ffcc00 !important;
  border-right: 3px solid #ffcc00 !important;
}
.b-realty__goods_mods .b-goods:hover .b-goods__description{
  border-left: 3px solid #ffcc00 !important;
  padding-left: 17px !important;
}
.b-realty__goods_list .b-goods__picture:before {
  position: absolute;
  content: '';
  top: 19px;
  right: 0px;
  border: 8px solid transparent;
  border-right-color: #008ac9;
  border-left: 0;
  display: block;
  z-index: 10;
}
.b-realty__goods_list .b-goods__picture:after {
  position: absolute;
  content: '';
  top: 21px;
  right: -3px;
  border: 6px solid transparent;
  border-right-color: #f1f1f1;
  border-left: 0;
  display: block;
  z-index: 10;
}
.b-realty__goods_list .b-goods:hover .b-goods__picture:before {
  border-right-color: #ffcc00;
}
.b-realty__goods_list .b-goods:hover .b-goods__picture:after {
  border-right-color: #fff;
}
.b-goods__head .b-goods__cell {
  text-align: left;
}
.b-goods__head .b-goods__cell p {
  font-weight: normal;
  font-size: 12px;
  display: block;
}
.b-goods__head .b-goods__name {
  padding-left: 20px;
}

.b-realty__goods-map {
  width: 100%;
  height: 635px;
}
.gm-style-iw {
  top: 0 !important;
  left: 0 !important;
}
.b-realty__description {
  width: 59%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}
.b-realty__detail {
  width: 39%;
  padding: 30px;
  float: right;
  border: 5px solid #ffcc00;
  position: relative;
  border-right: none;
  min-height: 530px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-realty__detail-border {
  background: url("/f/img/150.png") repeat-y scroll 0 -5px rgba(0, 0, 0, 0);
  right: 0;
  height: 100%;
  top: 0;
  position: absolute;
  width: 12px;
}
.b-fav-line {
  height: 30px;
  background: #008ac9;
  padding: 0 50px;
}
.b-fav-line__content {
  float: right;
}
.b-fav-line__text {
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.iconize-fav {
  margin-left: 22px;
}
.iconize-fav:before {
  width: 16px;
  height: 15px;
  left: -22px;
  top: -13px;
  background-position: -47px -52px;
}
.b-fav-line__link {
  color: #fff;
  line-height: 30px;
  margin-left: 15px;
  font-size: 12px;
}
.b-fav-line__link:before {
  background: #ffffff;
}
.b-fav-line__link:hover {
  color: #000;
}
.b-fav-line__link:hover:before {
  background: #000;
}
.iconize-back {
  margin-left: 40px;
}
.iconize-back:before{
  width: 30px;
  height: 30px;
  left: -40px;
  top: -20px;
  background-position: -63px 0;
}
.b-iconized-link:hover .iconize-back:before {
  background-position: -63px -30px;
}
.b-control__back {
  line-height: 46px;
}
.b-control__back .b-link {
  font-weight: bold;
  font-size: 14px;
}
.b-realty__detail-lot {
  font-weight: bold;
  font-size: 16px;
}
.b-realty__detail-name {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.b-realty__detail-city {
  font-weight: bold;
}
.b-realty__detail-enum {
  font-size: 14px;
  color: #5c5f60;
  line-height: 20px;
  margin-bottom: 10px;
}
.b-realty__detail-enum span {
  font-weight: bold;
  color: #000;
}
.b-realty__detail-price {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}
.b-realty__detail-hint {
  color: #5c5f60;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
}
.b-realty__detail-interest .yellow-btn {
  margin-bottom: 15px;
}
.b-realty__detail-interest {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 48%;
  margin-right: 20px;
}
@media (max-width: 1279px) {
  .b-realty__detail-interest {
    width: 100%;
    margin-right: 0;
  }
}
.b-realty__detail-links {
  display: inline-block;
  vertical-align: top;
}
.b-realty__detail-links .b-iconized-link {
  display: block;
}
.iconize-print {
  margin-left: 22px;
}
.iconize-print:before {
  width: 14px;
  height: 13px;
  left: -22px;
  top: -11px;
  background-position: -66px -82px;
}
.b-iconized-link:hover .iconize-print:before {
  background-position: -80px -82px;
}
.iconize-mail {
  margin-left: 22px;
}
.iconize-mail:before {
  width: 14px;
  height: 11px;
  left: -22px;
  top: -10px;
  background-position: -66px -95px;
}
.b-iconized-link:hover .iconize-mail:before {
  background-position: -80px -95px;
}
.iconize-fav2 {
  margin-left: 22px;
}
.iconize-fav2:before {
  width: 16px;
  height: 15px;
  left: -22px;
  top: -13px;
  background-position: -66px -106px;
}
.b-iconized-link:hover .iconize-fav2:before {
  background-position: -82px -106px;
}

/*------------------carousel----------------*/
.rg-gallery {
  margin-bottom: 40px;
}
.rg-image-wrapper{
  position:relative;
}
.rg-image{
  position:relative;
  text-align:center;
  line-height:0px;
}
.rg-image img{
  max-height:100%;
  max-width:100%;
  width: 100%;
}
.rg-image-nav a{
  position:absolute;
  top:0px;
  left:0px;
  background:#000 url(../images/nav.png) no-repeat -20% 50%;
  width:28px;
  height:100%;
  text-indent:-9000px;
  cursor:pointer;
  opacity:0.3;
  outline:none;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
  right:0px;
  left:auto;
  background-position:115% 50%;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
  opacity:0.8;
}
.rg-caption {
  text-align:center;
  margin-top:15px;
  position:relative;
}
.rg-caption p{
  font-size:11px;
  letter-spacing:2px;
  font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
  line-height:16px;
  padding:0 15px;
  text-transform:uppercase;
}
.rg-view{
  height:30px;
}
.rg-view a{
  display:block;
  float:right;
  width:16px;
  height:16px;
  margin-right:3px;
  background:#464646 url(/f/img/views.png) no-repeat top left;
  border:3px solid #464646;
  opacity:0.8;
}
.rg-view a:hover{
  opacity:1.0;
}
.rg-view a.rg-view-full{
  background-position:0px 0px;
}
.rg-view a.rg-view-selected{
  background-color:#6f6f6f;
  border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
  background-position:0px -16px;
}
.rg-loading{
  width:46px;
  height:46px;
  position:absolute;
  top:50%;
  left:50%;
  background:#000 url(/f/img/ajax-loader.gif) no-repeat center center;
  margin:-23px 0px 0px -23px;
  z-index:100;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity:0.7;
}

.es-carousel-wrapper{
  background: #f1f1f1;
  padding:10px 45px;
  position:relative;
  margin-bottom:20px;
}
.es-carousel{
  overflow:hidden;
  background:#f1f1f1;
}
.es-carousel ul{
  display:none;
}
.es-carousel ul li{
  height:100%;
  float:left;
  display:block;
  position: relative;
}
.es-carousel ul li a{
  display:block;
  opacity:0.4;
  -webkit-touch-callout:none;
  /* option */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
}
.es-carousel ul li.selected a,
.es-carousel ul li:hover a{
  opacity:1.0;
}
.es-carousel ul li.selected a:focus{
  outline: 0;
}
.es-carousel ul li.video-slide:after{
  content: '';
  position: absolute;
  background: url(/f/img/icons.png) no-repeat -94px -40px;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  cursor: pointer;
}
.es-carousel ul li.video-slide:hover:after{
  background-position: -114px -40px;
}
.es-carousel ul li a img{
  display:block;
  border:none;
  max-height:100%;
  max-width:100%;
  width: 60px !important;
  height: 40px !important;
}
.es-nav span{
  position:absolute;
  top:50%;
  left:13px;
  background:transparent url(/f/img/icons.png) no-repeat;
  background-position: -94px 0;
  width:20px;
  height:20px;
  margin-top:-10px;
  text-indent:-9000px;
  cursor:pointer;
}
.es-nav span.es-nav-next{
  right:13px;
  left:auto;
  background-position: -114px 0;
}
.es-nav span:hover{
  background-position: -94px -20px;
}
.es-nav span.es-nav-next:hover{
  background-position: -114px -20px;
}
/*---------------end--carousel----------------*/
.b-realty__description-title {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  line-height: 25px;
  margin-bottom: 15px;
}
.b-realty__description-text {
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  color: #5c5f60;
  margin-bottom: 40px;
}
.b-realty__description-title_map {
  margin-bottom: 35px;
}
.b-realty__content_full .b-realty__goods-map {
  height: 370px;
}
.b-switcher__block {
  display: none;
}
.b-switcher__block_active {
  display: block;
}
.b-switcher__btn {
  height: 30px;
  background: #f1f1f1;
  padding: 0 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  color: #008ac9;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.b-switcher__btn:hover {
  color: #ed0080;
}
.b-switcher__btn_active:hover {
  color: #fff;
}
.b-switcher__btn_active {
  background: #008ac9;
  color: #fff;
  cursor: default;
}
.b-realty__description-map {
  margin-bottom: 45px;
}
.b-realty__goods_mods {
  margin-top: 35px;
}
.b-offer__header_more {
  margin-top: 30px;
}